.container {
 display: flex;
 width: 600px;
 height: 400px;
 background-color: rgb(218, 171, 238);
 border: 5px solid black;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 gap: 100px;
 padding: 20px;
}

.item {
  border: 5px solid rgb(255, 2, 2);
  height: 20px;
  width: 150px;
  background-color: blue;
  

}