.titulos{
    color: rgb(222, 175, 111);
    font-family: "Lucida Console", sans-serif;
    font-size:19px;
    font-weight: bold;
    text-align: center;
}
.paragrafos,
#paragrafos{
    color:rgb(128, 255, 0);
    font-family: Monaco, monospace;
    font-size: 19px;
    font-weight: 1000;
    text-align: center;
}
.kratos{
    height: auto;
    width: 400px
}
body{
    background-color: black;
}
